$gladiator: #C8102E
$navy: #263746
$pavement: #231F20
$dark-gray: #333
$medium-gray: #99999A
$light-gray: #EDEDED

$gladiator-gradient: linear-gradient(215.85deg, #EA3855 9.33%, #C8102E 97.69%)

$gotham: 'Gotham', Arial, sans-serif
$united: 'United', sans-serif

$size-xxl: 48px
$size-xl: 32px
$size-l: 24px
$size-m: 18px
$size-s: 16px
$size-xs: 14px
