@import '../settings/variables';

.text-gladiator {
  color: $gladiator;
}

.text-navy {
  color: $navy;
}

.text-pavement {
  color: $pavement;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-medium-gray {
  color: $medium-gray;
}

.text-light-gray {
  color: $light-gray;
}

.text-white {
  color: white;
}

.background-gladiator {
  background-color: $gladiator;
}

.background-navy {
  background-color: $navy;
}

.background-pavement {
  background-color: $pavement;
}

.background-dark-gray {
  background-color: $dark-gray;
}

.background-medium-gray {
  background-color: $medium-gray;
}

.background-light-gray {
  background-color: $light-gray;
}
