.flex
  display: flex

.flex-auto
  flex: 1

.flex--column
  flex-direction: column

.flex--row
  flex-direction: row

.flex--center
  align-items: center
  justify-content: center

.spacer-stack-s
  margin-bottom: 0.5rem

.spacer-stack-m
  margin-bottom: 1rem

.spacer-stack-l
  margin-bottom: 2rem

.spacer-stack-xl
  margin-bottom: 4rem

.spacer-stack-xxl
  margin-bottom: 6rem

.inline-block-centered
  text-align: center
