.text-gladiator {
  color: $gladiator;
}

.text-navy {
  color: $navy;
}

.text-pavement {
  color: $pavement;
}

.text-dark-gray {
  color: $dark-gray;
}

.text-medium-gray {
  color: $medium-gray;
}

.text-lighter-gray {
  color: $lighter-gray;
}

.text-white {
  color: white;
}

.background-gladiator {
  background-color: $gladiator;
}

.background-navy {
  background-color: $navy;
}

.background-pavement {
  background-color: $pavement;
}

.background-dark-gray {
  background-color: $dark-gray;
}

.background-medium-gray {
  background-color: $medium-gray;
}

.background-lighter-gray {
  background-color: $lighter-gray;
}
