@each $breakpoint, $variant in $responsive-variants {
  @include breakpoint($breakpoint) {
    .space-inset-xs#{$variant} {
      padding: $spacer-xs;
    }

    .space-inset-s#{$variant} {
      padding: $spacer-s;
    }

    .space-inset-m#{$variant} {
      padding: $spacer-m;
    }

    .space-inset-l#{$variant} {
      padding: $spacer-l;
    }

    .space-inset-xl#{$variant} {
      padding: $spacer-xl;
    }

    .space-inset-xxl#{$variant} {
      padding: $spacer-xxl;
    }

    .space-inset-xxxl#{$variant} {
      padding: $spacer-xxxl;
    }

    .space-x-xs#{$variant} {
      padding-left: $spacer-xs;
      padding-right: $spacer-xs;
    }

    .space-x-s#{$variant} {
      padding-left: $spacer-s;
      padding-right: $spacer-s;
    }

    .space-x-m#{$variant} {
      padding-left: $spacer-m;
      padding-right: $spacer-m;
    }

    .space-x-l#{$variant} {
      padding-left: $spacer-l;
      padding-right: $spacer-l;
    }

    .space-x-xl#{$variant} {
      padding-left: $spacer-xl;
      padding-right: $spacer-xl;
    }

    .space-x-xxl#{$variant} {
      padding-left: $spacer-xxl;
      padding-right: $spacer-xxl;
    }

    .space-x-xxxl#{$variant} {
      padding-left: $spacer-xxxl;
      padding-right: $spacer-xxxl;
    }

    .space-y-xs#{$variant} {
      padding-bottom: $spacer-xs;
      padding-top: $spacer-xs;
    }

    .space-y-s#{$variant} {
      padding-bottom: $spacer-s;
      padding-top: $spacer-s;
    }

    .space-y-m#{$variant} {
      padding-bottom: $spacer-m;
      padding-top: $spacer-m;
    }

    .space-y-l#{$variant} {
      padding-bottom: $spacer-l;
      padding-top: $spacer-l;
    }

    .space-y-xl#{$variant} {
      padding-bottom: $spacer-xl;
      padding-top: $spacer-xl;
    }

    .space-y-xxl#{$variant} {
      padding-bottom: $spacer-xxl;
      padding-top: $spacer-xxl;
    }

    .space-y-xxxl#{$variant} {
      padding-bottom: $spacer-xxxl;
      padding-top: $spacer-xxxl;
    }

    .space-stack-0#{$variant} {
      margin-bottom: 0;
    }

    .space-stack-xs#{$variant} {
      margin-bottom: $spacer-xs;
    }

    .space-stack-s#{$variant} {
      margin-bottom: $spacer-s;
    }

    .space-stack-m#{$variant} {
      margin-bottom: $spacer-m;
    }

    .space-stack-l#{$variant} {
      margin-bottom: $spacer-l;
    }

    .space-stack-xl#{$variant} {
      margin-bottom: $spacer-xl;
    }

    .space-stack-xxl#{$variant} {
      margin-bottom: $spacer-xxl;
    }

    .space-stack-xxxl#{$variant} {
      margin-bottom: $spacer-xxxl;
    }

    .space-between-xs#{$variant} > :not(:last-child) {
      margin-bottom: $spacer-xs;
    }

    .space-between-s#{$variant} > :not(:last-child) {
      margin-bottom: $spacer-s;
    }

    .space-between-m#{$variant} > :not(:last-child) {
      margin-bottom: $spacer-m;
    }

    .space-between-l#{$variant} > :not(:last-child) {
      margin-bottom: $spacer-l;
    }

    .space-between-xl#{$variant} > :not(:last-child) {
      margin-bottom: $spacer-xl;
    }

    .space-between-xxl#{$variant} > :not(:last-child) {
      margin-bottom: $spacer-xxl;
    }

    .space-between-inline-xs#{$variant} > :not(:last-child) {
      margin-right: $spacer-xs;
    }

    .space-between-inline-s#{$variant} > :not(:last-child) {
      margin-right: $spacer-s;
    }

    .space-between-inline-m#{$variant} > :not(:last-child) {
      margin-right: $spacer-m;
    }

    .space-between-inline-l#{$variant} > :not(:last-child) {
      margin-right: $spacer-l;
    }

    .space-between-inline-xl#{$variant} > :not(:last-child) {
      margin-right: $spacer-xl;
    }

    .space-between-inline-xxl#{$variant} > :not(:last-child) {
      margin-right: $spacer-xxl;
    }

    .space-between-inline-xxxl#{$variant} > :not(:last-child) {
      margin-right: $spacer-xxxl;
    }
  }
}
