.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.font-display {
  font-family: $font-display;
  text-transform: uppercase;

  &--h1 {
    font-size: $h1-display-size;
    line-height: 84px;
    letter-spacing: 2px;
  }

  &--h2 {
    font-size: $h2-display-size;
    line-height: 60x;
    letter-spacing: 2px;
  }

  &--h3 {
    font-size: $h3-display-size;
    line-height: 48px;
    letter-spacing: 1px;
  }

  &--h4 {
    font-size: $h4-display-size;
    line-height: 40px;
    letter-spacing: 0.5px;
  }

  &--h5 {
    font-size: $h5-display-size;
    line-height: 32px;
    letter-spacing: 0.5px;
  }

  &--h6 {
    font-size: $h6-display-size;
    line-height: 20px;
  }
}

.font-primary {
  font-family: $font-primary;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.text-xxl {
  font-size: $size-xxl;
}

.text-xl {
  font-size: $size-xl;
}

.text-l {
  font-size: $size-l;
}

.text-m {
  font-size: $size-m;
}

.text-s {
  font-size: $size-s;
}

.text-xs {
  font-size: $size-xs;
}

.weight-3 {
  font-weight: 300;
}

.weight-4 {
  font-weight: 400;

  // remove top space
  &::before {
    content: '';
    display: block;
    height: 0;
    width: 0;
    margin-top: calc((1 - 1.25) * 0.5em);
  }
}

.weight-bold {
  font-weight: 600;
}

.text-truncate {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}
