/* stylelint-disable block-closing-brace-newline-after */
/* stylelint-disable at-rule-empty-line-before */
$gladiator: #c8102e;
$navy: #263746;
$pavement: #231f20;
$dark-gray: #333;
$medium-gray: #99999a;
$light-gray: #d4d4d4;
$lighter-gray: #ededed;
$lightest-gray: #f9f9f9;

$gladiator-gradient: linear-gradient(215.85deg, #ea3855 9.33%, #c8102e 97.69%);

$font-primary: 'Gotham', Arial, sans-serif;
$font-display: 'United', sans-serif;

$size-xxl: 48px;
$size-xl: 32px;
$size-l: 24px;
$size-m: 18px;
$size-s: 16px;
$size-xs: 14px;

$h1-display-size: 84px;
$h2-display-size: 60px;
$h3-display-size: 48px;
$h4-display-size: 40px;
$h5-display-size: 32px;
$h6-display-size: 20px;

$h1-primary-size: 30px;
$h2-primary-size: 25px;
$h3-primary-size: 20px;
$h4-primary-size: 18px;
$h5-primary-size: 16px;
$h6-primary-size: 14px;

$spacer: 10px !default;

$spacer-0: 0 !default; // 0
$spacer-xs: $spacer / 4 !default; // 2.5px
$spacer-s: round($spacer / 2) !default; // 5px
$spacer-m: $spacer !default; // 10px
$spacer-l: $spacer * 2 !default; // 20px
$spacer-xl: $spacer * 3 !default; // 30px
$spacer-xxl: $spacer * 4 !default; // 40px
$spacer-xxxl: $spacer * 10 !default; // 100px

$spacers: (
  $spacer-0,
  $spacer-xs,
  $spacer-s,
  $spacer-m,
  $spacer-l,
  $spacer-xl,
  $spacer-xxl,
  $spacer-xxxl
) !default;
