@import '../settings/variables';

.button {
  --base-color: #{$gladiator};
  --shadow-color: rgba(37, 55, 70, 0.4);
  --shadow-size: 3px;
  font-family: #{$gotham};
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: var(--base-color);
  text-align: center;
  border: 2px solid white;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 12px 21px;
  letter-spacing: 0;
  display: inline-block;
  opacity: 1;
  outline: 0;
  transition: 0.15s linear all;
  cursor: pointer;
  white-space: nowrap;

  &:focus {
    box-shadow: 0 0 0 var(--shadow-size) var(--shadow-color);
  }

  &:hover:not([disabled]) {
    opacity: 0.7;
  }

  &--solid {
    color: white;
    border-color: var(--base-color);
    background-color: var(--base-color);
  }

  &--outline {
    color: var(--base-color);
    border-color: var(--base-color);
    background-color: transparent;
  }

  &--primary {
    --base-color: #{$gladiator};
    --shadow-color: rgba(200, 16, 46, 0.4);
  }

  &--secondary {
    --base-color: #{$navy};
  }

  &--light {
    --base-color: #{$light-gray};
  }

  &--gray {
    --base-color: #{$dark-gray};
    border-color: #{$medium-gray};
  }

  &--dark {
    --base-color: #{$pavement};
  }

  &--white {
    --base-color: white;
  }

  &[disabled] {
    --base-color: #{$medium-gray};
    cursor: default;
  }

  &--xlarge {
    font-size: 17px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 38px;
    padding-right: 38px;
  }

  &--large {
    font-size: 14px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 46px;
    padding-right: 46px;
  }

  &--small {
    font-size: 11px;
    padding: 11px 31px;
  }

  &--xsmall {
    --shadow-size: 2px;
    font-size: 10px;
    padding: 8px 14px;
  }

  &__icon {
    margin-right: 10px;
  }
}
