.checkbox
  display: flex
  margin: 0 -10px

  &__input,
  &__label,
  &[type="checkbox"]
    cursor: pointer
    margin: 0 10px

  &__label
    font-size: 14px
    line-height: 27px

  &__input,
  &[type="checkbox"]
    -webkit-appearance: none
    height: 27px
    width: 27px
    min-width: 27px
    border: 2px solid #CCC
    border-radius: 4px

  &__input:checked,
  &[type="checkbox"]:checked
    background: url('../assets/check.svg') no-repeat
    background-size: 20px 20px
    background-position: center center
