.growl-msg
  font-family: 'Gotham'
  position: fixed
  top: 20px
  right: 20px
  max-width: 90%
  color: #fff
  background-color: #263746
  font-weight: 300
  padding: 25px 25px
  font-size: 13px
  line-height: 1.2
  letter-spacing: .5px
  transition: .2s color linear
  display: flex
  justify-content: space-between
  align-items: center
  z-index: 9997
  box-shadow: 2px 2px 10px rgba(0, 0, 0, .15)
  animation: fade-in-right .75s


@keyframes fade-in-right
  from
    opacity: 0
    right: -100%

  to
    opacity: 1
    right: 20px



.growl-msg--error
  background-color: #c8102e


.growl-msg__close-btn
  display: block
  margin-left: 25px
  font-size: 16px
  -webkit-transition: .15s color linear
  -moz-transition: .15s color linear
  transition: .15s color linear


.growl-msg__close-btn:hover
  cursor: pointer
  color: rgba(255, 255, 255, .6)


.flash-banner
  font-family: 'Gotham'
  width: 100%
  color: #fff
  background-color: #c8102e
  display: flex
  align-items: flex-start
  padding: 8px 25px


.flash-banner__content
  display: flex
  flex: 1
  justify-content: flex-start
  align-items: center
  font-weight: 400
  font-size: 14px
  line-height: 1.4


.flash-banner__content-badge
  margin-right: 20px


.flash-banner__content-text
  margin: 15px 20px 15px 0px
  max-width: 800px


.flash-banner__close-btn
  align-self: center
  display: block
  margin-left: 25px
  font-size: 16px
  -webkit-transition: 0.15s color linear
  -moz-transition: 0.15s color linear
  transition: 0.15s color linear


.flash-banner__close-btn:hover
  cursor: pointer
  color: rgba(255, 255, 255, 0.6)


@media only screen and (max-width: 768px)
  .flash-banner
    justify-content: space-between


  .flash-banner__content
    flex-direction: column
    justify-content: center


  .flash-banner__content-text
    margin-right: 0


  .flash-banner__content-btn
    display: flex
    justify-content: center
    align-items: center


  .flash-banner__close-btn
    align-self: flex-start
    margin-top: 17px
