$tooltip-color: #2A2A2A;

.tooltip,
[data-tooltip] {
  position: relative;
}

.tooltip__content,
[data-tooltip]:hover,
[data-tooltip]::after,
[data-tooltip]::before {
  z-index: 1;
}

.tooltip__content,
[data-tooltip]::before {
  height: 64px;
  width: auto;
  white-space: nowrap;
  padding: 0 16px;
  background: $tooltip-color;
  border-radius: 2px;
  color: white;
  display: block;
  font-weight: 300;
  line-height: 64px;
  opacity: 0;
  position: absolute;
  text-align: center;
  right: 50%;
  max-width: none;
  transform: translate(50%, -200%);
}

.tooltip__content {
  filter: drop-shadow(0 0 4px $tooltip-color);
  transition: transform ease 0.2s, opacity 0.3s ease;
}

[data-tooltip]::after,
.tooltip__content::before {
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 10px solid $tooltip-color;
  top: 10px;
  right: 50%;
  content: ' ';
  font-size: 0;
  line-height: 0;
  position: absolute;
  width: 0;
}

.tooltip__content::before {
  transform: translateX(50%);
  top: 100%;
}

[data-tooltip]::after {
  display: none;
}

[data-tooltip]::before {
  content: attr(data-tooltip);
  display: none;
}

[data-tooltip]:hover::after,
.tooltip--fixed .tooltip__content,
.tooltip__trigger:hover + .tooltip__content {
  transform: translate(50%, -160%);
  opacity: 1;
}

[data-tooltip]:hover::before {
  transform: translate(50%, calc(-100% - 20px));
}

[data-tooltip]:hover::after,
[data-tooltip]:hover::before {
  display: inline-block;
  opacity: 1;
}
