$width-sm: 599px !default;
$width-md: 600px !default;
$width-lg: 900px !default;
$width-xl: 1200px !default;
$width-xxl: 1679px !default;

$breakpoints: (
  phone-only: $width-sm,
  tablet-portrait: $width-md,
  tablet-landscape: $width-lg,
  desktop: $width-xl,
  big-desktop: $width-xxl,
) !default;

$responsive-variants: (
  '': '',
  phone-only: '\\@phone-only',
  tablet-portrait: '\\@tablet-portrait',
  tablet-landscape: '\\@tablet-landscape',
  desktop: '\\desktop',
  big-desktop: '\\big-desktop',
) !default;

@mixin breakpoint($breakpoint) {
  @if $breakpoint == '' {
    @content;
  } @else {
    $value: map-get($breakpoints, $breakpoint);

    @if $value != null {
      @if $breakpoint == 'phone-only' {
        @media (max-width: $value) {
          @content;
        }
      } @else {
        @media (min-width: $value) {
          @content;
        }
      }
    } @else {
      @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. Please make sure it is defined in `$breakpoints` map.";
    }
  }
}
