$red-tint: rgba(200, 16, 46, 0.4);
$blue-tint: rgba(37, 55, 70, 0.4);
$white-tint: rgba(255, 255, 255, 0.4);

.button {
  --base-color: #{$gladiator};
  --shadow-color: #{$red-tint};
  --shadow-size: 3px;
  font-family: #{$gotham};
  font-weight: 700;
  font-size: 12px;
  line-height: 1;
  color: var(--base-color);
  text-align: center;
  border: 2px solid white;
  height: 35px;
  border-radius: 50px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 21px;
  letter-spacing: 0;
  display: inline-block;
  opacity: 1;
  outline: 0;
  transition: 0.15s linear all;
  cursor: pointer;
  white-space: nowrap;
  min-width: 100px;

  &:focus {
    box-shadow: 0 0 0 var(--shadow-size) var(--shadow-color);
  }

  &:active {
    opacity: 0.7;
  }

  &--dark,
  &--gray,
  &--secondary {
    --shadow-color: #{$blue-tint};
  }

  &--solid {
    color: white;
    border-color: var(--base-color);
    background-color: var(--base-color);
  }

  &--white {
    color: $pavement;
  }

  &--outline {
    color: var(--base-color);
    border-color: var(--base-color);
    background-color: transparent;
  }

  &--primary {
    --base-color: #{$gladiator};
    --shadow-color: #{$red-tint};
  }

  &--secondary {
    --base-color: #{$navy};
  }

  &--light {
    --base-color: #{$light-gray};
  }

  &--gray {
    --base-color: #{$dark-gray};
    border-color: #{$medium-gray};
  }

  &--dark {
    --base-color: #{$pavement};
  }

  &--white {
    --base-color: white;
    --shadow-color: #{$white-tint};
  }

  &[disabled] {
    --base-color: #{$medium-gray};
    cursor: default;
  }

  &--loading {
    pointer-events: none;
  }

  &__icon {
    margin-right: 10px;
  }

  @each $breakpoint, $variant in $responsive-variants {
    @include breakpoint($breakpoint) {
      &--xlarge#{$variant} {
        font-size: 17px;
        height: 60px;
        padding: 0 38px;
        min-width: 200px;
      }

      &--large#{$variant} {
        font-size: 14px;
        height: 48px;
        padding: 0 46px;
        min-width: 140px;
      }

      &--small#{$variant} {
        font-size: 11px;
        height: 30px;
        padding: 0 31px;
        min-width: 100px;
      }

      &--xsmall#{$variant} {
        --shadow-size: 2px;
        font-size: 10px;
        height: 25px;
        padding: 0 14px;
        min-width: 80px;
      }
    }
  }
}
