.radio-list {
  display: flex;
  flex-direction: column;
  margin: 0 -8px;

  &--inline {
    flex-direction: row;
  }

  &__item {
    display: flex;
    margin: 8px;
    flex: 1;
    cursor: pointer;
    line-height: 27px;
  }

  &--inline &__item {
    white-space: nowrap;
  }

  &__input {
    cursor: pointer;
    -webkit-appearance: none;
    background-clip: content-box;
    background-color: $lighter-gray;
    border: 2px solid $lighter-gray;
    border-radius: 50%;
    box-sizing: border-box;
    height: 27px;
    padding: 2px;
    transition: background-color ease 0.2s;
    min-width: 27px;
    margin-right: 8px;

    &--checked,
    &:checked {
      background-color: $navy;
    }
  }
}
