h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-transform: uppercase;
  color: $navy;
  margin: 0 0 1rem 0;
}

h1,
h2,
h3,
.h1,
.h2,
.h3 {
  font-family: $united;
  text-transform: uppercase;
  font-weight: 900;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-weight: bold;
}

h4,
h5,
.h4,
.h5 {
  letter-spacing: 2px;
}

h1,
.h1 {
  font-size: $h1-gotham-size;
}

h2,
.h2 {
  font-size: $h2-gotham-size;
}

h3,
.h3 {
  font-size: $h3-gotham-size;
}

h4,
.h4 {
  font-size: $h4-gotham-size;
}

h5,
.h5 {
  font-size: $h5-gotham-size;
}

h6,
.h6 {
  font-size: $h6-gotham-size;
}
